.kvuc-rteElement-KVUCPlain a:link, .kvuc-rteElement-KVUCPlain a:active/*
*	For at gøre dette stylesheet brugbart på en produkt side, upload filen på følgende site lokation:
*
*	<Aktuelle site>/Documents/CSS/	||	Eksempel: Http://publ.e-undervisning.net/kroppen/Documents/CSS/
*	
*	Eksistere mappen 'CSS' ikke i dokument bibliotekket 'Dokumenter', så opret en ny folder og give den
*	titlen 'CSS' og upload derefter denne CSS fil i denne folder.
*
*	Slår stylingen IKKE igennem, så prøv at skriv '!important' efter hver property.
*	Eksempel: Bagground-color: White !important;
*	Dette burde få baggrundsfarven til at blive hvid, uanset hvad de andre CSS filer siger den skal være.
*/

/*
*	-- Overordnede style på produkt siden --
*/

/* elearningmainwrapper er flyttet til nederst i dokumentet */




/*	wrapper960 er den DIV som indeholder alle elementerne på produkt siden, og som også giver
*	siden den lysegrå baggrundsfarve.
*/
#wrapper960
{
}

/*	Nedenståender CSS class' ændrer KUN på linkfarver i Content Editor Webparts og Fritekst områder. */
.s4-wpTopTable .ms-WPBody a:link, .s4-wpTopTable .ms-WPBody a, .s4-wpTopTable .ms-WPBody a:hover, .s4-wpTopTable .ms-WPBody a:visited
{
color:#405060 !important;

}
/*	Nedenstående CSS class' vil ændre stylingen på tekst og links i Tooltips */
#wrapper960 a.tooltip, #wrapper960 a.tooltip:link, #wrapper960 a.tooltip:hover, #wrapper960 a.tooltip:visited
{
	background-color: #e2e2e2;
	color: #4d4d4d;
	font-size: 13px;
	text-decoration: none;
}

/*	Nedenståender CSS class' ændre KUN på linkfarver i produkt sidens titler. */
#wrapper960 a.productheadline:link, #wrapper960 a.productheadline, #wrapper960 a.productheadline:hover, #wrapper960 a.productheadline:visited
{
color:#ffffff !important;
}

/*	PageTitle styler selve sidens titel, hvis den bliver vist på produkt siden. */
.PageTitle
{
color:#16081a !important;
}

/*
*	-- Webpart style overrides --
*/

/*	Denne CSS class ændre stylen på en Webparts titel, hvis titlen bliver vist.
*	Dette vil slå igennem på ALLE webparts på det aktuelle site.
*/
.ms-WPTitle
{
}

/*	Hvis webparten er en ListViewWebpart, altså en liste som er sat ind på siden som webpart,
*	så vil webpart titlen være et link hen til listen. Så denne style ændre styling af LINKS
*	i en webparts titel. Dette vil slå igennem på ALLE webparts på det aktuelle site.
*/
.ms-WPTitle A
{
}

/*	Ønsker man at give webpart titlen en baggrunds farve, eller et baggrunds billede
*	så er det denne man skal tilføje det til. Dette vil slå igennem på ALLE webparts på det aktuelle site.
*/
.ms-WPHeader > td
{
}

/*
*	-- Content Editor Webpart / Fritekst felt style overrides --
*/
/* Ændre skrift & farve på både almindelig tekst, samt links. */

div.kvuc-rteElement-KVUCIntroBox
{
-ms-name: "Intro box";
text-align: left;
color: #FFF;
line-height: 130%;
font-size: 12px;
background-color: #3F2646;
padding-top: 20px;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 20px;
width: 420px;
height: none;
right: 8px;
position: relative;
}

/*
div.kvuc-rteElement-KVUCIntroBoxLINES {
-ms-name: "LINE-test";
font-family: Arial;
font-size: 18px !important;
font-weight: normal;
margin-top: 0px;
margin-bottom: -10px;
border-image: none;
border-style: solid none;
border-color: #EEE;
border-width: 1px 0;
margin: 18px 0;
}
*/
.kvuc-rteElement-KVUCPlain
{
	font-family: Verdana;
	font-size: 13px !important;
	font-weight: normal;
	color: #1e1e1e;
}

.kvuc-rteElement-KVUCPlain a
{
	color: ##16081a !important;
	text-decoration: underline;
}

/*	Nedenstående CSS class' vil ændre farven på alle titler i en Content Editor Webparts eller
*	fritekst felter hvor i der er valgt en titel formattering af et link.
*/
.kvuc-rteElement-KVUCHeader a, .kvuc-rteElement-KVUCHeader a:link, .kvuc-rteElement-KVUCHeader a:visited, .kvuc-rteElement-KVUCHeader a:active, .kvuc-rteElement-KVUCHeader a:hover, .kvuc-rteElement-KVUCSubHeader a, .kvuc-rteElement-KVUCSubHeader a:link, .kvuc-rteElement-KVUCSubHeader a:visited, .kvuc-rteElement-KVUCSubHeader a:active, .kvuc-rteElement-KVUCSubHeader a:hover
{
}

/*	Nedenstående CSS class' vil ændre stylingen på alle titler i en Content Editor Webparts eller
*	i et fritekst felt hvor i der er valgt titel formattering af tekst.
*/
.kvuc-rteElement-KVUCHeader
{
color:#16081a !important;
}

.kvuc-rteElement-KVUCSubHeader
{

font-family: Arial;
font-size: 20px !important;
font-weight: normal;
/*margin-top: 0px;*/
/*margin-bottom: -10px; */

/*border-image: none;*/
border-style: solid none;
border-color: #EEE;
border-width: 1px 0;
margin: 12px 0;
margin-top: 20px; 

}
.MegaDropAfsnit {

	
}
.MegaDropCurrentItem
{
background-color:#e2e2e2 !important;
color: #405060 !important;

}
a.MegaDropAfsnit:link, a.MegaDropAfsnit:active {

}
a.MegaDropAfsnit:visited {
	
	
}
a.MegaDropAfsnit:hover {
	color: #ffffff !important;
	background: #405060;
}
.MegaDropUnderAfsnit {


}
a.MegaDropUnderAfsnit:link, a.MegaDropUnderAfsnit:active {
	/*color: #405060 !important;*/
	/*text-decoration: underline;*/
	/*background-color: #e2e2e2;*/
	
}
a.MegaDropUnderAfsnit:visited {
	
}
a.MegaDropUnderAfsnit:hover {
	color: #ffffff !important;
	background: #405060;
}

/*	elearningmainwrapper er den style som giver sitet den mørke grå, lidt grumsede baggrund */
.elearningmainwrapper
{
	
/*Har nu lagt billedet i samm mappe som CSS*/
	/*background-image: url("/alledeltagere/team6/gruppe6c/forloeb2/angst_og_depression/PublishingImages/bg-body.gif") !important;*/
 background: #68576E url('lillagradient.png') repeat-x !important;
}

